@tailwind base;
@tailwind components;
@tailwind utilities;

.comfortaa {
                font-family: "Comfortaa", sans-serif;
                font-optical-sizing: auto;
                font-weight: 300;
                font-style: normal;
            }

@media screen {
    /*TODO*/
    /*selecter*/
}